[submodule "3rdp/glog"]
	path = 3rdp/glog
	url = https://github.com/google/glog
	ignore = dirty

[submodule "3rdp/yaml-cpp"]
	path = 3rdp/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
	ignore = dirty
	
[submodule "3rdp/googletest"]
	path = 3rdp/googletest
	url = https://github.com/google/googletest
	ignore = dirty

[submodule "3rdp/rapidcheck"]
	path = 3rdp/rapidcheck
	url = https://github.com/emil-e/rapidcheck
	ignore = dirty
